"*":
  "atom-material-ui":
    colors: {}
    tabs:
      noTabMinWidth: true
      tintedTabBar: true
    ui:
      panelContrast: true
      panelShadows: true
  core:
    customFileTypes:
      "source.ini": [
        "env"
        "env.dist"
      ]
      "source.js": [
        "js.snap"
      ]
    disabledPackages: [
      "MagicPython"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
    titleBar: "custom"
  editor:
    preferredLineLength: 100
  "exception-reporting":
    userId: "a15ea3da-f48b-475d-82ac-819cf893ec0d"
  "linter-eslint": {}
  "linter-ui-default":
    showPanel: true
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      respectEslintignore: false
      showInStatusBar: true
    prettierOptions:
      printWidth: 100
      singleQuote: true
      trailingComma: "es5"
    useEslint: true
  welcome:
    showOnStartup: false
  whitespace: {}
".js.jsx.source":
  editor:
    autoIndentOnPaste: true
    preferredLineLength: 120
".text.todo":
  editor:
    showInvisibles: true
".js.jsx.react.source":
  editor:
    autoIndent: true
".js.jsx.source":
  editor:
    autoIndent: false
    autoIndentOnPaste: false
